@import "../../global.scss";

.projectsList{
  font-size: 1.2rem;
  margin-right: 4rem;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    display: inline;
    margin-right: 0;
    margin-bottom: 10px;
    overflow: visible;
  }

  &.active{
    background-color: $altColor;
    color: $mainColor;
  }
}